<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Analyzer</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/">
          <img class="logo-img" src="static/STOKIFY.png" alt="Stockify" />
        </a>
      </div>
    </div>

    <div class="container">
      <div class="form">
        <form action="{{ url_for('analyze') }}" method="POST">
          <label for="fileName">Enter Stock Names:</label>
          <input type="text" id="fileName" name="fileName" />
          <button class="button" type="submit">Stockify</button>
        </form>
      </div>

      <h3>OR</h3>
      
      <div class="input-section0">
        <form action="{{ url_for('analyzeNF') }}" method="POST">
          <button class="button" type="submit">Analyze Nifty Fifty</button>
        </form>
      </div>
      <h3>OR</h3>
      
      <div class="input-section">
        <h2>Upload or Drag & Drop a Text File</h2>

        <form
          action="{{ url_for('analyze') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" id="fileInput" name="fileInput" accept=".txt" />
          <button class="button" type="submit">Stockify</button>
        </form>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% if result %}
      <div class="resultTable">
        <h2>Analysis Result</h2>
        <table>
          <tr>
            <th>Buy</th>
            <th>Sell</th>
            <th>Hold</th>
            <th>Down</th>
          </tr>
          {% for row in result %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>
  </body>
</html>
